<mat-sidenav-container fullscreen style="background: inherit;">

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./roles" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                <span>Roles</span>
            </a>
        </mat-nav-list>

        <mat-nav-list>
            <a routerLink="./users" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>group</mat-icon>
                <span>Usuarios</span>
            </a>
        </mat-nav-list>

        <mat-nav-list>
            <a routerLink="/auth/login" mat-list-item (click)="sidenav.toggle(); logout();">
                <mat-icon mat-list-icon>logout</mat-icon>
                <span>Salir</span>
            </a>
        </mat-nav-list>


    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon style="color: white;">menu</mat-icon>
        </button>

        <span style="color: white;">Hola {{ userInfo.name }}</span>

        <span class="spacer"></span>
        <span style="color: white;">Mi cuenta</span>
        <button mat-icon-button>
            <mat-icon style="color: white;">account_circle</mat-icon>
        </button>


    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>